

.display-container {
  color: rgb(142, 128, 183);
  padding-top: 25px;
  width: 700px;
  margin: 0 auto;
}

.p-norm {
  font-size: 14px;
  margin: 0;
}

.p-bold {
  font-weight: 600;
}
.movie-visuals {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5);
  grid-column-gap: 0px;
  grid-row-gap: 24px;
}

.poster {
  grid-area: 1 / 3 / 4 / 4;
}
.poster-img {
  height: 368px;
  width: 236px;
  border-radius: 16px;
  margin-right: 20px;
}
#genre {
  grid-area: 1 / 4 / 2 / 5;
}

#duration {
  grid-area: 2 / 4 / 3 / 5;
}

#rating {
  grid-area: 3 / 4 / 4 / 5;
}

.mini-info {
  height: 85px;
  width: 80px;
  border: .5px solid rgb(142, 128, 183);
  border-radius: 16px;
  text-align: center;
  padding: 4px;
  margin: 8px;
}

.movie-text > h1 {
  font-size: 30px;
}

.movie-text > h2 {
  font-size: 18px;
}

.movie-text {
  line-height: 36px;
}

hr {
  border: 1px solid;
}


.mini-poster {
  height: 150px;
  border-radius: 16px;
  margin-right: 10px;
}

.mini-poster:hover {
  transform: scale(1.1)
}

.other-movies {
  padding-bottom: 20px;
  text-align: center;
}
