// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

@import "components/showmovie";

body {
  background-color: rgb(19, 19, 28);
  font-family: 'Raleway', sans-serif!important;
  font-weight: 200;
}

.center-container {
  width: 75%;
  margin: 0px 10em 0px 10em;
  background-color: white;
}

.main-border {
  margin: 50px 150px;
}

h1 {
  color:rgb(142, 128, 183);
}

a {
  color:rgb(142, 128, 183);
  text-decoration: none;
  &:hover {
    opacity: 70%;
  }
}

.card-text {
  color: white;
}

.card-sizer {
  height: 350px;
  width: 250px;
  object-fit: cover;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.carousel-sizer {
  height: 536px;
  object-fit: cover;
  margin-bottom: 86px;
  overflow: hidden;
  border-radius: 20px;
}

footer {
  color: rgb(142, 128, 183);
  text-align: center;
}
@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media only screen and (max-width: 832px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 390px) {
  .main-border {
    margin: 15px;
  }
  .card-sizer {
    height: 200px;
    width: 150px;
    object-fit: cover;
    overflow: hidden;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
